.search
  form#search-form
    input#search-input.search-song type="text" name="song" placeholder="song or artist" autofocus=true
    button.search-button type="submit" Search
  .loader style="display:none;" Loading...
  ul#results.results

section#lyrics.lyrics style="display:none;"
  .lyrics-content
